 <div class="mx-auto max-w-screen-xl p-10 mt-10 mb-10 text-center flex flex-col">
 
    <div
        class="mx-auto flex flex-col justify-center sm:ml-2 sm:p-0 sm:pr-24 sm:pl-25"
      >
      <h1 class="text-6xl pb-10 text-sky-600 font-bold">Our Heroes</h1>
      <ul class="p-0 gap-5 flex flex-wrap justify-center">
        {{#each heroes}}
        <li class="h-35 w-35 box-border object-cover rounded-xl text-center">
          <a href="/heroes/{{ id }}" class="flex flex-wrap">
            <img src="{{ image }}" alt="{{ name }} Profile Image" class="object-cover rounded-xl h-35 w-100 flex-wrap">
          </a>
        </li>
        {{/each}}
      </ul>

    </div>


</div>