<div class="box-error">

    <div class="boxsize">
<h4>Ouch! <br>It looks like you have already created your hero! </h4>
        <div class="box-error-profile"><p>Your profile</p></div>

    </div>
</div>